body {
  font-size: 1em;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  color: #111924;
}
section {
  max-width: 1366px;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 100px;
}
img {
  max-width: 100%;
  height: auto;
}
.img--1,
.img--2 {
  -webkit-background-size: cover;
  background-size: cover;
}
.btn {
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn__fill {
  background-color: #293b64;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  font-weight: 700;
}
.btn__fill--absolute {
  position: absolute;
  top: 160px;
  left: 200px;
}
.btn__flat {
  background-color: transparent;
  color: #293a64;
  border: 1px solid #2a3a63;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  font-weight: 700;
}
.btn--230 {
  min-width: 230px;
}
.btn--190 {
  min-width: 190px;
}
.btn--bold {
  font-weight: 700;
}
.btn--normal {
  font-weight: 400;
}
.transform-r {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wrapper {
  background: url("../img/bg/blue-omega.png") 50% -9% no-repeat;
  padding-top: 200px;
  padding-bottom: 5px;
  margin-top: -30px;
  -webkit-background-size: 2270px 1140px;
  background-size: 2270px 1140px;
}
.wrapper--2 {
  background-image: url("../img/bg/blue-omega-reverse.png");
}
.wrapper--12 {
  position: relative;
  overflow: hidden;
  background: none;
  height: 320px;
  padding: 0px;
}
.wrapper--20 {
  position: relative;
  overflow: hidden;
  background: none;
  padding: 0px;
}
.wrapper--21 {
  position: relative;
  overflow: hidden;
  background: none;
  padding: 0px;
  margin: 0px;
}
.wrapper--8 {
  position: relative;
  overflow: hidden;
  background: none;
  padding: 0px;
  margin: 0px;
}
.wrapper--25 {
  position: relative;
  overflow: hidden;
  background: none;
  padding: 0px;
  margin: 0px;
}
.section--1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 100px;
  background-image: url("../img/bg/bg-transparent-header.png");
  padding-top: 300px;
  padding-bottom: 100px;
  margin-bottom: 0px;
  overflow: hidden;
}
.video {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
}
.logotype-header {
  position: absolute;
  width: 72px;
  height: 40px;
  top: 10px;
  right: 1260px;
}
.main-header {
  position: absolute;
  max-width: 900px;
  width: 100%;
  top: 20px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 66px;
  background-image: url("../svg-icons/bg-header.svg");
  -webkit-background-size: cover;
  background-size: cover;
}
.main-header__svg-wr {
  width: 22px;
  height: 22px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}
.main-header__svg {
  width: 12px;
  height: 12px;
  margin: auto;
  pointer-events: none;
}
.main-header__svg--tg {
  margin-left: 4px;
}
.main-header__link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
.main-header__link-4 {
  margin-left: 130px;
}
.main-header__link-5 {
  margin-left: 10px;
  margin-right: 31px;
}
.lead {
  max-width: 1300px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.lead__left {
  max-width: 510px;
  width: 100%;
}
.lead__right {
  max-width: 625px;
  width: 100%;
  position: relative;
}
.lead__timer-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.lead__timer-box div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px 25px 10px;
  border-right: 1px solid #9a9c9e;
  border-top: 1px solid #9a9c9e;
  border-bottom: 1px solid #9a9c9e;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.lead__timer-box div:first-child {
  border-left: 1px solid #9a9c9e;
}
.lead__timer-box span {
  margin-top: 5px;
  text-transform: lowercase;
  color: #9a9c9e;
  font-size: 14px;
}
.lead__left-btn {
  color: DEL;
}
.lead__button--260 {
  min-width: 260px;
  font-size: 18px;
  line-height: 16px;
}
.lead__button--240 {
  min-width: 220px;
  font-size: 18px;
  line-height: 20px;
}
.section--2 {
  margin-bottom: 205px;
}
.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.features__left {
  max-width: 520px;
  width: 100%;
}
.features h1 {
  margin-top: 0px;
}
.features p {
  color: #191b2b;
}
.features ul {
  padding: 0px;
  margin: 0px;
  list-style-position: inside;
  color: #191b2b;
}
.section--3 {
  color: error;
}
.section--3 .features__right {
  max-width: 560px;
}
.section--4 {
  colro: 123;
}
.section--5 {
  margin-top: 155px;
  margin-bottom: 0px;
}
.benefits {
  background-color: #eff4fa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1155px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.2);
  margin: 0px auto;
}
.benefits__gear-svg {
  width: 360px;
  height: auto;
}
.benefits p {
  color: #191b2b;
}
.benefits__header {
  max-width: 450px;
  text-align: center;
}
.benefits__body {
  max-width: 690px;
  text-align: center;
}
.benefits__body span {
  font-weight: 600;
}
.benefits__caption {
  margin-top: 0px;
}
.benefits__svg-size {
  width: 1.9em;
  margin-bottom: -3px;
}
.benefits__footer {
  max-width: 380px;
  text-align: center;
}
.benefits__footer span {
  font-weight: 600;
}
.benefits__svg-logo {
  width: 1.5em;
  height: auto;
}
.section--6 {
  margin-bottom: 180px;
}
.promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.promo__caption {
  position: relative;
  font-size: 2em;
  margin-bottom: 60px;
}
.promo__caption::before {
  content: '';
  position: absolute;
  margin-left: -50px;
  top: 60px;
  left: 50%;
  width: 120px;
  height: 2px;
  background-color: #262737;
}
.promo__video-wr {
  position: relative;
  width: 550px;
  height: 320px;
  overflow: hidden;
  background: url("../img/promo-holder.png");
}
.promo__video {
  height: 100%;
  z-index: -1;
  position: relative;
}
.promo__svg-logo {
  width: 1.5em;
  height: auto;
}
.garanty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.garanty__caption {
  max-width: 570px;
  text-align: center;
}
.garanty p {
  max-width: 425px;
}
.garanty__header {
  color: a111;
}
.garanty__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.garanty__wr {
  max-width: 860px;
  width: 100%;
}
.garanty__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.garanty__item--1 {
  max-width: 170px;
}
.garanty__item--2 {
  max-width: 320px;
}
.garanty__item--3 {
  max-width: 230px;
}
.statistics {
  height: 630px;
  background: transparent url("../img/bg/maska.png") no-repeat 0% 0%;
  -webkit-background-size: 100% 630px;
  background-size: 100% 630px;
  overflow: hidden;
}
.statistics__video {
  width: 100%;
  z-index: -1;
  position: relative;
}
.statistics__box {
  max-width: 900px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -450px;
  color: #fff;
}
.statistics__item {
  max-width: 330px;
}
.statistics__item p:first-child {
  font-size: 40px;
  margin-bottom: 10px;
}
.statistics__item p:last-child {
  font-size: 15px;
  line-height: 36px;
  margin-top: 10px;
}
.diagramma {
  color: error;
}
.section--10 {
  margin-top: 260px;
}
.section--11 {
  margin-bottom: 30px;
}
.section--12 {
  background-image: -webkit-radial-gradient(transparent, rgba(15,20,51,0.788));
  background-image: -o-radial-gradient(transparent, rgba(15,20,51,0.788));
  background-image: radial-gradient(transparent, rgba(15,20,51,0.788));
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.section--12 .profit {
  max-width: 430px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px auto;
  padding: 60px 0px;
}
.section--12 .profit__caption {
  color: #fff;
  font-size: 30px;
}
.section--12 .profit__value-wr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.section--12 .profit p {
  color: #fff;
}
.section--12 .profit__svg {
  width: 100px;
  height: 100px;
  margin-right: 35px;
}
.video--absolute {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.section--13 {
  margin-top: 220px;
}
.investment {
  max-width: 1164px;
  margin: 0px auto;
}
.investment__caption {
  font-size: 37px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 50px;
}
.investment__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.investment__list {
  margin: 35px 0px 0px;
  padding-left: 70px;
  list-style: none;
}
.investment__item {
  position: relative;
  margin-bottom: 70px;
  padding-left: 10px;
  font-size: 18px;
}
.investment__left {
  max-width: 360px;
  width: 100%;
}
.investment__left-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 134px;
  border-bottom: 1px solid #000;
}
.investment__left-caption h2 {
  font-size: 28px;
  line-height: 37px;
  font-weight: 700;
  margin: 0px;
}
.investment__sprite-svg {
  position: absolute;
  left: -68px;
  width: 60px;
  height: 60px;
}
.investment__sprite-svg--l1 {
  top: -20px;
}
.investment__sprite-svg--l2 {
  top: -20px;
}
.investment__sprite-svg--l3 {
  top: -20px;
}
.investment__sprite-svg--l4 {
  top: -20px;
}
.investment__sprite-svg--l5 {
  top: -20px;
}
.investment__sprite-svg--l6 {
  top: -20px;
}
.investment__sprite-svg--l7 {
  top: -20px;
}
.investment__middle {
  max-width: 360px;
  width: 100%;
}
.investment__middle-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 134px;
  border-bottom: 1px solid #000;
}
.investment__middle-caption h2 {
  font-size: 28px;
  line-height: 37px;
  font-weight: 700;
  margin: 0px;
}
.investment__sprite-svg--m1 {
  top: -20px;
}
.investment__sprite-svg--m2 {
  top: -20px;
}
.investment__sprite-svg--m3 {
  top: -20px;
}
.investment__sprite-svg--m4 {
  top: -20px;
}
.investment__right {
  max-width: 360px;
  width: 100%;
}
.investment__right-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 134px;
  border-bottom: 1px solid #000;
}
.investment__right-caption h2 {
  font-size: 28px;
  line-height: 37px;
  font-weight: 700;
  margin: 0px;
}
.investment__sprite-svg--r1 {
  top: -20px;
}
.investment__patents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.investment__patents-caption {
  text-align: center;
  width: 100%;
  text-transform: lowercase;
}
.investment__patents-img {
  max-width: 130px;
  height: auto;
}
.investment__button-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.investment__button {
  max-width: 200px;
  width: 100%;
  margin: 20px 0px;
  font-size: 14px;
  text-align: center;
  background-color: #3d4a69;
}
.section--14 {
  color: error;
}
.document {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 1150px;
}
.document__caption {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.document__link {
  max-width: 220px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 8px;
  padding-top: 50px;
  padding-bottom: 25px;
  border: 1px solid #7989c2;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
}
.document__link span {
  text-align: center;
}
.document__sprite-svg {
  max-width: 120px;
  margin-bottom: 20px;
}
.logotype-data {
  width: 2em;
  height: auto;
}
.data {
  max-width: 1170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px auto;
}
.data__caption {
  font-size: 34px;
  margin-bottom: 60px;
  width: 100%;
  text-align: center;
}
.data__left {
  color: error;
}
.data__list {
  margin: 0px;
  padding-left: 115px;
  list-style: none;
  position: relative;
}
.data__item {
  margin-bottom: 40px;
  color: #111924;
}
.data__item:last-child {
  margin-left: -40px;
  margin-bottom: 0px;
}
.data__sprite-svg {
  max-width: 75px;
  height: 60px;
  position: absolute;
}
.data__sprite-svg--1 {
  left: 0px;
}
.data__sprite-svg--2 {
  left: 0px;
}
.data__sprite-svg--3 {
  left: 0px;
}
.data__right {
  max-width: 625px;
  width: 100%;
  position: relative;
  margin-left: auto;
}
.data__button--absolute {
  top: 200px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  font-size: 14px;
}
.section--15 {
  margin-bottom: 200px;
}
.section--16 {
  margin-bottom: 150px;
}
.events {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1150px;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.events__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 36px;
  margin-bottom: 42px;
}
.events__caption {
  font-size: 32px;
  margin: 0px;
  padding-left: 20px;
}
.events__svg-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 30px;
}
.events__svg-wr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  background-color: #effbfe;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.events__sprite-svg {
  width: 15px;
  height: 15px;
  margin: auto;
}
.events__button-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
}
.events__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #000;
}
.events__button--next {
  -webkit-border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
  color: #fff;
  border: 1px solid #3e4a68;
  background-color: #3e4a68;
}
.events__button--old {
  -webkit-border-radius: 0px 20px 20px 0px;
  border-radius: 0px 20px 20px 0px;
  background-color: #fff;
  color: #3e4a68;
  border: 1px solid #293b63;
}
.events__sprite-svg--calendar {
  left: 0px;
  position: absolute;
  width: 18px;
  height: 18px;
}
.events__sprite-svg--time {
  left: 120px;
  position: absolute;
  width: 18px;
  height: 18px;
}
.events__sprite-svg--views {
  left: 205px;
  position: absolute;
  width: 18px;
  height: 18px;
}
.events__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 286px;
}
.events__news {
  max-width: 340px;
  width: 100%;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 200px;
}
.events__news--1 {
  background: url("../img/news-1.png") 100% 0% no-repeat;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(53,61,118,0.16);
  box-shadow: 0px 1px 18px 0px rgba(53,61,118,0.16);
}
.events__news--2 {
  background: url("../img/news-2.png") 100% 0% no-repeat;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(53,61,118,0.16);
  box-shadow: 0px 1px 18px 0px rgba(53,61,118,0.16);
  margin-right: 0px;
}
.events__news-title {
  margin-bottom: 45px;
}
.events__news-title h2 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.events__news-meta {
  max-width: 250px;
}
.events__news-meta span {
  font-size: 13px;
}
.events__meta-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;
}
.events__meta-header span:first-of-type {
  padding-left: 25px;
}
.events__meta-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
.events__more {
  max-width: 140px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.section--17 {
  margin-bottom: 130px;
}
.team {
  max-width: 1180px;
  margin: 0px auto;
}
.team__caption {
  font-size: 30px;
  margin-bottom: 100px;
  text-align: center;
}
.team__box {
  max-width: 1180px;
}
.team__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.team__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  min-height: 420px;
  background-color: #add8e6;
  padding: 215px 30px 25px;
  text-align: center;
}
.team__item p:first-child {
  font-weight: 700;
}
.team__item p:last-of-type {
  line-height: 14px;
}
.team__item--1 {
  background: transparent url("../img/team/t1.png") no-repeat;
}
.team__item--2 {
  background: transparent url("../img/team/t2.png") no-repeat;
}
.team__item--3 {
  background: transparent url("../img/team/t3.png") no-repeat;
}
.team__item--4 {
  background: transparent url("../img/team/t4.png") no-repeat;
}
.team__item--5 {
  background: transparent url("../img/team/t5.png") no-repeat;
}
.team__item--6 {
  background: transparent url("../img/team/t6.png") no-repeat;
}
.team__item--7 {
  background: transparent url("../img/team/t7.png") no-repeat;
}
.team__item--8 {
  background: transparent url("../img/team/t8.png") no-repeat;
}
.team__item--9 {
  background: transparent url("../img/team/t9.png") no-repeat;
}
.team__item--10 {
  background: transparent url("../img/team/t10.png") no-repeat;
}
.team__svg {
  width: 15px;
  height: 15px;
  margin: auto;
}
.team__svg-wr {
  margin: 0px auto;
}
.section--18 {
  margin-bottom: 70px;
}
.experience {
  padding-top: 30px;
  padding-bottom: 30px;
}
.experience__caption {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.experience__box {
  padding: 0px 15px;
  max-width: 1140px;
  margin: 0px auto;
}
.experience__wr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(53,61,118,0.16);
  box-shadow: 0px 1px 18px 0px rgba(53,61,118,0.16);
}
.experience__element {
  max-width: 370px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
.experience__element span {
  font-weight: 700;
}
.experience__element span:nth-child(2) {
  margin-top: 25px;
}
.experience__bg {
  max-width: 414px;
  width: 100%;
  min-height: 204px;
  -webkit-background-size: cover;
  background-size: cover;
}
.experience__bg--1 {
  background: url("../img/exp/exp-1.png") no-repeat;
}
.experience__bg--2 {
  background: url("../img/exp/exp-2.png") no-repeat;
}
.section--19 {
  margin-bottom: 130px;
}
.token {
  color: DEL;
}
.section--20 {
  margin-bottom: 30px;
}
.distribution {
  position: relative;
}
.distribution__caption {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 110px;
}
.distribution__wr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.distribution__wr--1 {
  min-height: 270px;
  background-image: -webkit-radial-gradient(transparent, rgba(15,20,51,0.788));
  background-image: -o-radial-gradient(transparent, rgba(15,20,51,0.788));
  background-image: radial-gradient(transparent, rgba(15,20,51,0.788));
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.distribution__wr--2 {
  min-height: 330px;
  background: #fff none;
}
.distribution__text {
  max-width: 892px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px auto;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
.distribution__element {
  max-width: 250px;
  padding: 10px;
}
.distribution__element p {
  font-size: 24px;
}
.distribution__element p:first-child {
  margin-bottom: 40px;
}
.distribution__chart {
  width: 100%;
}
.section--21 {
  background-image: -webkit-radial-gradient(transparent, rgba(15,20,51,0.788));
  background-image: -o-radial-gradient(transparent, rgba(15,20,51,0.788));
  background-image: radial-gradient(transparent, rgba(15,20,51,0.788));
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 0px;
}
.footer {
  max-width: 826px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
  padding-top: 90px;
  padding-bottom: 80px;
}
.footer__left {
  max-width: 392px;
  width: 100%;
}
.footer__right {
  max-width: 392px;
  width: 100%;
}
.footer__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.footer__item {
  border-bottom: 1px solid #3c5d7e;
}
.footer__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}
.footer__social-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
}
.footer__social-link {
  text-decoration: none;
}
.svg-wr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #effbfe;
}
.svg-40 {
  width: 40px;
  height: 40px;
}
#XMLID_384_ {
  -webkit-animation: svg-animate-stroke 2s infinite alternate;
  animation: svg-animate-stroke 2s infinite alternate;
}
#animate-dot-1,
#animate-dot-2,
#animate-dot-3,
#animate-dot-4 {
  -webkit-animation: animate-dot 2.8s linear infinite;
  animation: animate-dot 2.8s linear infinite;
}
@-webkit-keyframes svg-animate-blink {
  0% {
    opacity: 0.99;
  }
  100% {
    opacity: 0;
  }
}
@keyframes svg-animate-blink {
  0% {
    opacity: 0.99;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes svg-animate-stroke {
  0% {
    stroke-dasharray: 0px;
  }
  100% {
    stroke-dasharray: 10 100px;
    stroke-dashoffset: 50%;
  }
}
@keyframes svg-animate-stroke {
  0% {
    stroke-dasharray: 0px;
  }
  100% {
    stroke-dasharray: 10 100px;
    stroke-dashoffset: 50%;
  }
}
@-webkit-keyframes animate-dot {
  0% {
    stroke-dasharray: 20px;
  }
  100% {
    stroke-dashoffset: 200px;
    stroke-dasharray: 20px;
  }
}
@keyframes animate-dot {
  0% {
    stroke-dasharray: 20px;
  }
  100% {
    stroke-dashoffset: 200px;
    stroke-dasharray: 20px;
  }
}
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/all/MyriadProSemiBold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
